---
---

<textarea id="userInput"/>
<button id="renderButton">render</button>
<div id="render" class="render"></div>

<style>
#userInput {
  width: 300px;
  height: 300px;
}

.render {
  border: 1px solid #ccc;
  padding: 5px;
  overflow: auto;
}
</style>

<script>
import DOMPurify from 'dompurify';

const render = document.getElementById("render")
const renderButton = document.getElementById("renderButton")

const renderFun = () => {
  if (render) {
    const input = document.getElementById("userInput") as HTMLInputElement
    const rawInput = input.value
    const sanitized = DOMPurify.sanitize(rawInput);
    render.innerHTML = sanitized;
  }
}

if (renderButton)
  renderButton.addEventListener('click', renderFun)
</script>

